body {
    background-color: #575050;
    color: #fff;
    font-family: Arial, sans-serif;
    justify-items: center;
    align-items: center;
    
}

#cronometro {
    font-size: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container{
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 15vw;
    background-color: rgb(145, 141, 141);
    border-radius: 10px;
}

.buttons {
    background-color: #746969;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    height: 100px;
    width: 200px;
}
.reset{
    background-color: rgb(210, 210, 210);
    color: #000;
    border-radius: 5px;
}
.pause{
    background-color: rgb(210, 210, 210);
    color: #000;
    border-radius: 5px;
}
.iniciar{
    background-color: rgb(210, 210, 210);
    color: #000;
    border-radius: 5px;
}
.iniciar:hover {
    background-color: rgb(129, 129, 129);
    color: #ffffff;
    border-radius: 5px;
}
.reset:hover {
    background-color: rgb(129, 129, 129);
    color: #ffffff;
    border-radius: 5px;
}
.pause:hover {
    background-color: rgb(129, 129, 129);
    color: #ffffff;
    border-radius: 5px;
}

.timet{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    color: #fff;
}